# Caches
/.bundle
/.sass-cache

# Gemfile locks ignored for gems
/Gemfile.lock

# Generated documentation and assets
/doc
/public/assets

# Build gems
*.gem

# Docker elements
/deps

# Nodejs
/bin/node
/bin/npm
/bin/phantomjs
/node_modules
/package-lock.json
