# Caches
/.bundle
/.sass-cache

# Gemfile locks ignored for gems
/Gemfile.lock

# Generated documentation and assets
/doc
/public/assets

# Build gems
*.gem

# Test artifacts
/screenshot_*
/chrome.log
