!!!
%html
  %head
    %title MailCatcher
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/date.js"}
    %script{:src => "/javascripts/application.js"}
  %body
    #mail
      %table
        %thead
          %th From
          %th To
          %th Subject
          %th Received
        %tbody
    #message
      .metadata
        .received
          %label Received
          %span
        .from
          %label From
          %span
        .to
          %label To
          %span
        .subject
          %label Subject
          %span
        .attachments
          %label Attachments
          %ul
      .actions
        %ul
          %li.format.tab.html.selected{'data-message-format' => 'html'} HTML
          %li.format.tab.plain{'data-message-format' => 'plain'} Plain Text
          %li.format.tab.source{'data-message-format' => 'source'} Source
          %li.button.download
            %a{:href => '#'}
              %span Download
      %iframe.body
