!!!
%html.mailcatcher
  %head
    %title MailCatcher
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/assets/application.css", :rel => "stylesheet"}
    %script{:src => "/assets/application.js"}
  %body
    %header
      %h1
        %a{:href => "http://mailcatcher.me", :target => "_blank"} MailCatcher
      %nav.app
        %ul
          %li.search
            %input{:type => "search", :name => "search", :placeholder => "Search messages...", :incremental => true}
          %li.clear
            %a{:href => "#", :title => "Clear all messages"} Clear
          - unless MailCatcher.options[:no_exit]
            %li.quit
              %a{:href => "#", :title => "Quit MailCatcher"} Quit
    %nav#messages
      %table
        %thead
          %tr
            %th From
            %th To
            %th Subject
            %th Received
        %tbody
    #resizer
      .ruler
    %article#message
      %header
        %dl.metadata
          %dt.created_at Received
          %dd.created_at
          %dt.from From
          %dd.from
          %dt.to To
          %dd.to
          %dt.subject Subject
          %dd.subject
          %dt.attachments Attachments
          %dd.attachments
        %nav.views
          %ul
            %li.format.tab.html.selected{"data-message-format" => "html"}
              %a{:href => "#"} HTML
            %li.format.tab.plain{"data-message-format" => "plain"}
              %a{:href => "#"} Plain Text
            %li.format.tab.source{"data-message-format" => "source"}
              %a{:href => "#"} Source
            %li.tab.analysis
              %a{:href => "#"} Analysis
            %li.action.download
              %a.button{:href => "#"}
                %span Download
      %iframe.body
