html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

body {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  background: #eeeeee;
  color: black;
  font-size: 12px;
  font-family: Helvetica, sans-serif; }
  body body {
    font-size: 75%;
    line-height: 2em; }
  body html > body {
    font-size: 12px; }

body > header {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #cccccc; }
  body > header h1 {
    float: left;
    padding: 6px;
    font-size: 18px;
    font-weight: bold; }
    body > header h1 a {
      color: black;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      -moz-transition-property: 0.1s ease;
      -webkit-transition-property: 0.1s ease;
      -o-transition-property: 0.1s ease;
      transition-property: 0.1s ease;
      -moz-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
      body > header h1 a:hover {
        color: #4183c4; }
  body > header nav {
    border-left: 1px solid #cccccc;
    border-right: 1px solid white; }
    body > header nav.project {
      float: left; }
    body > header nav.app {
      float: right; }
    body > header nav li {
      display: inline; }
      body > header nav li a {
        display: inline-block;
        float: left;
        padding: 9px;
        border-left: 1px solid white;
        border-right: 1px solid #cccccc;
        background: #eeeeee;
        color: #666666;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0 1px 0 white; }
        body > header nav li a:hover {
          background: white; }
        body > header nav li a:active {
          margin: 1px -1px -1px 1px;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none; }

#messages {
  width: 100%;
  height: 10em;
  overflow: auto;
  background: white;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc; }
  #messages table {
    width: 100%; }
    #messages table thead tr {
      background: #eeeeee;
      color: #333333; }
      #messages table thead tr th {
        padding: 0.25em;
        font-weight: bold;
        color: #666666;
        text-shadow: 0 1px 0 white; }
    #messages table tbody tr {
      cursor: pointer; }
      #messages table tbody tr:nth-child(even) {
        background: #f0f0f0; }
      #messages table tbody tr.selected {
        background: Highlight;
        color: HighlightText; }
      #messages table tbody tr td {
        padding: 0.25em; }

#message {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-top: 1px solid white; }
  #message > header {
    overflow: hidden;
    *zoom: 1; }
    #message > header .metadata {
      overflow: hidden;
      *zoom: 1;
      padding: 0.5em; }
      #message > header .metadata dt, #message > header .metadata dd {
        padding: 0.25em; }
      #message > header .metadata dt {
        float: left;
        clear: left;
        width: 8em;
        margin-right: 0.5em;
        text-align: right;
        font-weight: bold;
        color: #666666;
        text-shadow: 0 1px 0 white; }
      #message > header .metadata dd.subject {
        font-weight: bold; }
      #message > header .metadata .attachments {
        display: none; }
        #message > header .metadata .attachments ul {
          display: inline; }
          #message > header .metadata .attachments ul li {
            display: -moz-inline-box;
            -moz-box-orient: vertical;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            margin-right: 0.5em; }
            #message > header .metadata .attachments ul li {
              *display: inline; }
    #message > header .views ul {
      padding: 0 0.5em;
      border-bottom: 1px solid #999999; }
    #message > header .views .tab {
      display: inline-block;
      padding: 0.5em;
      border: 1px solid #999999;
      background: #dddddd;
      color: #333333;
      border-width: 1px 1px 0 1px;
      cursor: pointer;
      text-shadow: 0 1px 0 #eeeeee; }
    #message > header .views .tab:not(.selected):hover {
      background-color: #dddddd; }
    #message > header .views .tab.selected {
      background: white;
      color: black;
      height: 13px;
      -moz-box-shadow: 1px 1px 0 #cccccc;
      -webkit-box-shadow: 1px 1px 0 #cccccc;
      -o-box-shadow: 1px 1px 0 #cccccc;
      box-shadow: 1px 1px 0 #cccccc;
      margin-bottom: -2px; }
    #message > header .views .button {
      display: inline-block;
      float: right;
      margin: 0 0.25em; }
      #message > header .views .button a {
        display: inline-block;
        padding: 0.25em 0.5em;
        border: 1px solid #999999;
        background: #dddddd;
        color: #333333;
        text-decoration: none;
        text-shadow: 1px 1px 0 #eeeeee;
        -moz-box-shadow: 1px 1px 0 #cccccc;
        -webkit-box-shadow: 1px 1px 0 #cccccc;
        -o-box-shadow: 1px 1px 0 #cccccc;
        box-shadow: 1px 1px 0 #cccccc; }
        #message > header .views .button a:hover {
          background: white;
          text-shadow: none; }
        #message > header .views .button a:active {
          margin: 1px -1px -1px 1px;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none; }
  #message .body {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
    background: white; }
