html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

body {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  background: #eeeeee;
  color: black;
  font-size: 12px;
  font-family: Helvetica, sans-serif; }
  body body {
    font-size: 75%;
    line-height: 2em; }
  body html > body {
    font-size: 12px; }

.button {
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec)), #ececec;
  background: -webkit-linear-gradient(#f4f4f4, #ececec), #ececec;
  background: -moz-linear-gradient(#f4f4f4, #ececec), #ececec;
  background: -o-linear-gradient(#f4f4f4, #ececec), #ececec;
  background: linear-gradient(#f4f4f4, #ececec), #ececec;
  color: #666666;
  text-shadow: 1px 1px 0 white;
  text-decoration: none; }
  .button:hover, .button:focus {
    border-color: #999999;
    border-bottom-color: #666666;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)), #dddddd;
    background: -webkit-linear-gradient(#eeeeee, #dddddd), #dddddd;
    background: -moz-linear-gradient(#eeeeee, #dddddd), #dddddd;
    background: -o-linear-gradient(#eeeeee, #dddddd), #dddddd;
    background: linear-gradient(#eeeeee, #dddddd), #dddddd;
    color: #333333;
    text-decoration: none; }
  .button:active, .button.active {
    border-color: #666666;
    border-bottom-color: #999999;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee)), #eeeeee;
    background: -webkit-linear-gradient(#dddddd, #eeeeee), #eeeeee;
    background: -moz-linear-gradient(#dddddd, #eeeeee), #eeeeee;
    background: -o-linear-gradient(#dddddd, #eeeeee), #eeeeee;
    background: linear-gradient(#dddddd, #eeeeee), #eeeeee;
    color: #333333;
    text-decoration: none;
    text-shadow: -1px -1px 0 #eeeeee; }

body > header {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #cccccc; }
  body > header h1 {
    float: left;
    margin-left: 6px;
    padding: 6px;
    padding-left: 30px;
    background: url(/images/logo.png) left no-repeat;
    font-size: 18px;
    font-weight: bold; }
    body > header h1 a {
      color: black;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      -moz-transition-property: 0.1s ease;
      -webkit-transition-property: 0.1s ease;
      -o-transition-property: 0.1s ease;
      transition-property: 0.1s ease;
      -moz-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
      body > header h1 a:hover {
        color: #4183c4; }
  body > header nav {
    border-left: 1px solid #cccccc; }
    body > header nav.project {
      float: left; }
    body > header nav.app {
      float: right; }
    body > header nav li {
      display: inline; }
      body > header nav li a {
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        float: left;
        padding: 9px;
        border-left: 1px solid white;
        border-right: 1px solid #cccccc;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec)), #ececec;
        background: -webkit-linear-gradient(#f4f4f4, #ececec), #ececec;
        background: -moz-linear-gradient(#f4f4f4, #ececec), #ececec;
        background: -o-linear-gradient(#f4f4f4, #ececec), #ececec;
        background: linear-gradient(#f4f4f4, #ececec), #ececec;
        color: #666666;
        text-shadow: 1px 1px 0 white;
        text-decoration: none; }
        body > header nav li a {
          *display: inline; }
        body > header nav li a:hover, body > header nav li a:focus {
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)), #dddddd;
          background: -webkit-linear-gradient(#eeeeee, #dddddd), #dddddd;
          background: -moz-linear-gradient(#eeeeee, #dddddd), #dddddd;
          background: -o-linear-gradient(#eeeeee, #dddddd), #dddddd;
          background: linear-gradient(#eeeeee, #dddddd), #dddddd;
          color: #333333;
          text-decoration: none; }
        body > header nav li a:active, body > header nav li a.active {
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee)), #eeeeee;
          background: -webkit-linear-gradient(#dddddd, #eeeeee), #eeeeee;
          background: -moz-linear-gradient(#dddddd, #eeeeee), #eeeeee;
          background: -o-linear-gradient(#dddddd, #eeeeee), #eeeeee;
          background: linear-gradient(#dddddd, #eeeeee), #eeeeee;
          color: #333333;
          text-decoration: none;
          text-shadow: -1px -1px 0 #eeeeee; }

#messages {
  width: 100%;
  height: 10em;
  overflow: auto;
  background: white;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc; }
  #messages table {
    width: 100%; }
    #messages table thead tr {
      background: #eeeeee;
      color: #333333; }
      #messages table thead tr th {
        padding: 0.25em;
        font-weight: bold;
        color: #666666;
        text-shadow: 0 1px 0 white; }
    #messages table tbody tr {
      cursor: pointer;
      -moz-transition-property: 0.1s ease;
      -webkit-transition-property: 0.1s ease;
      -o-transition-property: 0.1s ease;
      transition-property: 0.1s ease;
      -moz-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
      color: #333333; }
      #messages table tbody tr:hover {
        color: black; }
      #messages table tbody tr:nth-child(even) {
        background: #f0f0f0; }
      #messages table tbody tr.selected {
        background: Highlight;
        color: HighlightText; }
      #messages table tbody tr td {
        padding: 0.25em; }

#message {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-top: 1px solid white; }
  #message > header {
    overflow: hidden;
    *zoom: 1; }
    #message > header .metadata {
      overflow: hidden;
      *zoom: 1;
      padding: 0.5em; }
      #message > header .metadata dt, #message > header .metadata dd {
        padding: 0.25em; }
      #message > header .metadata dt {
        float: left;
        clear: left;
        width: 8em;
        margin-right: 0.5em;
        text-align: right;
        font-weight: bold;
        color: #666666;
        text-shadow: 0 1px 0 white; }
      #message > header .metadata dd.subject {
        font-weight: bold; }
      #message > header .metadata .attachments {
        display: none; }
        #message > header .metadata .attachments ul {
          display: inline; }
          #message > header .metadata .attachments ul li {
            display: -moz-inline-box;
            -moz-box-orient: vertical;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            margin-right: 0.5em; }
            #message > header .metadata .attachments ul li {
              *display: inline; }
    #message > header .views ul {
      padding: 0 0.5em;
      border-bottom: 1px solid #cccccc; }
    #message > header .views .tab {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      padding: 0.5em;
      border: 1px solid #cccccc;
      background: #dddddd;
      color: #333333;
      border-width: 1px 1px 0 1px;
      cursor: pointer;
      text-shadow: 0 1px 0 #eeeeee; }
      #message > header .views .tab {
        *display: inline; }
    #message > header .views .tab:not(.selected):hover {
      background-color: #eeeeee; }
    #message > header .views .tab.selected {
      background: white;
      color: black;
      height: 13px;
      -moz-box-shadow: 1px 1px 0 #cccccc;
      -webkit-box-shadow: 1px 1px 0 #cccccc;
      -o-box-shadow: 1px 1px 0 #cccccc;
      box-shadow: 1px 1px 0 #cccccc;
      margin-bottom: -2px;
      cursor: default; }
    #message > header .views .action {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      float: right;
      margin: 0 0.25em; }
      #message > header .views .action {
        *display: inline; }
  #message .body {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
    background: white; }
.blank {
  font-style: italic; }
